.homeSection {
    background-color: #0A0A0A;
    background-image: radial-gradient(circle at bottom,
            rgb(0, 35, 64) 0%,
            rgb(0, 25, 48) 25%,
            rgb(0, 18, 32) 45%,
            rgb(0, 12, 24) 60%,
            rgb(0, 8, 16) 75%,
            rgb(0, 4, 8) 85%,
            rgb(0, 0, 0) 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    position: relative;
    overflow-x: hidden;
}

.navigationBar {
    width: 100%;
    max-width: 1056px;
    margin: 0 auto;
    /* Center the navbar within the container */
    padding-top: 32px;
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    width: 100%;
    max-width: 1056px;
    color: var(--text-primary);
    z-index: 1;
    position: relative;
}

.discovery {
    width: 100%;
    position: relative;
    z-index: 0;
    margin-top: 2rem;
}