.homeSection {
    background-color: #0A0A0A;
    /* Set up gradient with more stages before black */
    background-image: radial-gradient(circle at bottom,
            rgb(0, 35, 64) 0%,
            rgb(0, 25, 48) 25%,
            rgb(0, 18, 32) 45%,
            rgb(0, 12, 24) 60%,
            rgb(0, 8, 16) 75%,
            rgb(0, 4, 8) 85%,
            rgb(0, 0, 0) 100%);
    /* margin: 0;
    padding: 0; */
    height: 100vh;
}

.navigationBar {
    width: 1056px;
    position: absolute;
    top: 32px;
    left: 192px;
    transform: translate(15%);
}