.lgnSection {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #000;
    color: #fff;
    padding: 0 20px;
}

.form-column {
    width: 35%;
    /* Form takes up 35% of the screen */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.img-column {
    width: 65%;
    /* Image takes up 65% of the screen */
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-fluid {
    max-width: 80%;
    height: 800px;
    border-radius: 10px;
}

.bg-transparent {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}

.logo {
    width: 155px;
    height: 60px;
    margin: 30px;
}

#emailLoginInput,
#passwordlLoginInput {
    margin: auto;
    color: #fff;
    width: 100%;
    max-width: 430px;
    height: 45px;
    border-radius: 10px;
    border: 1px solid #8a8a8a;
}

#emailLoginInput:focus,
#passwordlLoginInput:focus {
    border: 2px solid #fff;
}

#emailLoginInput::placeholder,
#passwordlLoginInput::placeholder {
    color: #9d9d9d;
    opacity: 1;
}

.lgnBtn {
    margin-top: 40px;
    width: 100%;
    max-width: 430px;
}

.d-flex.justify-content-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rememberMeCheckbox {
    color: #8a8a8a;
}

.rememberMeCheckbox .form-check-input {
    background-color: transparent;
    border: 1px solid #8a8a8a;
}

.rememberMeCheckbox .form-check-input:checked {
    background-color: transparent;
    border-color: #fff;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .lgnSection {
        flex-direction: column;
        height: auto;
    }

    .form-column,
    .img-column {
        width: 100%;
        text-align: center;
    }

    .img-fluid {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }
}