.lgnSection {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #000;
    color: #fff;
    padding: 0 20px;
    /* Added padding for smaller screens */
}

.form-column {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img-column {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* Keep this at 100% to ensure the column spans full width */
}

.img-fluid {
    max-height: 750px;
    width: 100%;
    /* Keep full width for responsiveness */
    height: auto;
    max-width: 1500px;
    /* Increase the max width for a wider image */
    border-radius: 10px;
}


.bg-transparent {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}

#emailLoginInput,
#passwordlLoginInput {
    margin: auto;
    color: #fff;
    width: 100%;
    max-width: 430px;
    height: 45px;
    border-radius: 10px;
    border: 1px solid #8a8a8a;
}

#emailLoginInput:focus,
#passwordlLoginInput:focus {
    border: 2px solid #fff;
}

#emailLoginInput::placeholder,
#passwordlLoginInput::placeholder {
    color: #9d9d9d;
    opacity: 1;
}

.logo {
    width: 130px;
    height: 42px;
    margin-left: 250px;
}

.lgnBtn {
    margin-top: 40px;
    width: 100%;
    max-width: 430px;
}

.d-flex.justify-content-between {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* Ensures vertical alignment */
}

.rememberMeCheckbox {
    margin-left: 100px;
    color: #8a8a8a;
}

/* Customize the checkbox */
.rememberMeCheckbox .form-check-input {
    background-color: transparent;
    /* Makes the background transparent */
    border: 1px solid #8a8a8a;
    /* Customize the border if needed */
    color: #fff;
    /* Change the text color */
}

/* Customize the checkbox label */
.rememberMeCheckbox .form-check-label {
    color: #8a8a8a;
    /* Set label text color */
}

/* When the checkbox is checked, you can adjust the style */
.rememberMeCheckbox .form-check-input:checked {
    background-color: transparent;
    /* No background color when checked */
    border-color: #443b3b;
    /* Change border color if needed */
    box-shadow: none;
    /* Removes default shadow effect */
}

.forgot-password {
    margin-right: 100px;
}


/* .forgot-password {
    color: #9d9d9d;
    text-decoration: none;
    margin-left: auto;
    /* Pushes to the far right */


/* .forgot-password:hover {
        color: #fff;
    } */

@media (max-width: 820px) {
    .logo {
        margin-left: 110px;
    }
}

@media (max-width: 991px) {
    .logo {
        margin-left: 110px;
    }
}

@media (max-width: 767px) {
    .img-fluid {
        display: none;
    }
}

@media (max-width: 768px) {
    .lgnSection {
        padding: 0 10px;
        height: 100vh;
        flex-direction: column;

    }

    .logo {
        margin-left: 0;
    }

    .form-column,
    .img-column {
        width: 100%;
        text-align: center;
    }

    .img-fluid {
        max-height: 550px;
        width: 90%;
        /* Scales the image on smaller screens */
        height: auto;
        /* Adds space between image and form */
    }

    .lgnBtn {
        width: 100%;
    }

    .rememberMeCheckbox,
    .forgot-password {
        margin-left: 0;
        margin-right: 0;
    }

    .d-flex.justify-content-between {
        justify-content: space-around;
    }
}

@media (max-width: 576px) {

    #emailLoginInput,
    #passwordlLoginInput {
        width: 100%;
    }

    .lgnBtn {
        width: 100%;
    }

    .logo {
        margin-left: 0;
        width: 120px;
        height: 40px;
    }
}